@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');


div {
	font-family: monospace;
	padding: 20px;
}

img {
    padding: 200px; /* Ajusta el valor según lo que necesites */
    max-width: 100%; /* El GIF se adapta al tamaño de la pantalla */
    height: auto; /* Mantiene la proporción del GIF */
    display: block;
    margin: 20px auto; /* Centra el GIF y añade espacio alrededor */
}

.mns {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 50px;
  padding: 10px;
}

